.jobInfo {
    border: 1px solid #ccc;
    /* Add a border around the jobInfo container */
    padding: 20px;
    /* Add padding to create some space inside the container */
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Center the container horizontally */
    background-color: #cfcfcf;
}

.jobInfo h3 {
    margin-top: 0;
    /* Remove default margin from the h3 element */
    font-size: 20px;
    /* Set font size for the heading */
    color: #333;
    /* Set color for the heading */
}

.jobInfo ul {
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
    /* Remove default padding */
}

.jobInfo ul li {
    margin-bottom: 10px;
    /* Add some space between list items */
}

.jobInfo ul li strong {
    display: inline-block;
    /* Make the strong tag inline-block */
    width: 150px;
    /* Set a fixed width for strong tags */
}

.jobInfo ul li strong::after {
    content: ":";
    /* Add a colon after each strong tag */
    margin-right: 5px;
    /* Add some space between the strong tag and the colon */
}

.jobBrief {
    border: 1px solid #ccc;
    /* Add a border around the jobBrief container */
    padding: 20px;
    /* Add padding to create some space inside the container */
    max-width: 400px;
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Center the container horizontally */
    background-color: #cfcfcf;
}

.jobBrief strong {
    display: block;
    /* Display strong tags as block elements */
    margin-bottom: 10px;
    /* Add some space between strong tags */
}

.jobBrief strong::after {
    content: ":";
    /* Add a colon after each strong tag */
    margin-right: 5px;
    /* Add some space between the strong tag and the colon */
}

.likertContainer {
    border: 1px solid #ccc;
    /* Add a border around the likertContainer */
    padding: 10px;
    /* Add padding to create some space inside the container */
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Center the container horizontally */
    background-color: #cfcfcf;
}

.likert_scale {
    margin-bottom: 20px;
    /* Add some space below the likert_scale */
}

#likertTitle {
    font-weight: bold;
    /* Make the likertTitle text bold */
    margin-right:10px;
    font-size:1vw;
}

#likertSpan {
    display: inline-block;
    /* Make the likertSpan inline-block */
    width: 60px;
    /* Set a fixed width for the likertSpan */
    text-align: center;
    /* Center-align the text inside likertSpan */
    /* Add some space to the right of likertSpan */
    border-radius: 5px;
}

#likertScale {
    width: 100%;
    /* Make the likertScale input fill its parent container */
}

#mainPageBtn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 0.8vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goToUploadPage:hover {
    background-color: #4CAF50;
    color: white;
}


#goToUploadPage {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 0.8vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goToUploadPage:hover {
    background-color: #4CAF50;
    color: white;
}

.submitButton {
    display: block;
    /* Display the submit button as a block element */
    width: 100%;
    /* Make the submit button fill its parent container */
    margin-top: 10px;
    /* Add some space above the submit button */
}

#DEBUG BUTTON {
    margin-top: 20px;
    /* Add some space above the DEBUG BUTTON section */
}

#debugOpen {
    display: inline-block;
    /* Make the debugOpen form inline-block */
}

#debugOpen input[type="submit"] {
    display: block;
    /* Display the submit button as a block element */
    margin-top: 10px;
    /* Add some space above the submit button */
}

.time-left {
    display: grid;
    gap: 10px;
    /* Adjust the space between each unit */
    grid-template-columns: auto auto auto;
}

.time-left>div {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    font-size: 0.8vw;
    /* Increase the font size to 20 pixels */
}

.days {
    background-color: #ffcccc;
    /* Light red */
}

.hours {
    background-color: #ccffcc;
    /* Light green */
}

.minutes {
    background-color: #ccccff;
    /* Light blue */
}

#image-gallery-title {
    font-size: 0.8vw;
    /* Set font size for the title */
    margin-top: 10px;
    /* Add some space below the title */
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 100%));
    gap: 15px;
    /* Space between items */
}

#jobImages {
    margin: 10px;
    grid-row: 1 / span 3;
    grid-column: 3 / 4;
    height: 80%;
    /* Set width to auto */
    background-color: #cfcfcf;
    border-radius: 10px;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    align-items: flex-start;
    text-align:center;
    /* Center items horizontally */
}

.gallery-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    animation: fadeImg 0.8s forwards;
}

.gallery-image.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    max-height: 50%;
    max-width: 50%;
    height: auto;
    width: auto;
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.progressImages {

}

.progressImageContainer {
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

.progressImageContainer label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 0.8vw;
    /* Adjust margin as needed */
}

#defaultProgressImagePreview {
    max-width: 200px;
    /* Adjust maximum width as needed */
    height: auto;
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

#progressImagePreviewContainer {
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

#progressImagePreviewContainer img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    animation: fadeImg 0.8s forwards;
}

#progressImage {
    margin-top: 5px;
    /* Adjust margin as needed */
}

