.image-gallery {
    z-index:10;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between images */
    justify-content: center; /* Center the images within the gallery */
    padding: 10px; /* Add some padding around the gallery */
}

.gallery-image {
    width: auto; /* Adjust based on your preference */
    height: auto; /* Adjust based on your preference */
    object-fit: cover; /* Ensure images cover the area, may crop */
    border-radius: 5px; /* Optional: round the corners of the images */
}